/* CSS kod för header, meny och footer */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  background-color: #08335b;
  z-index: 9999;
}

.topnav {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: max-height 0.3s ease-in-out;
  overflow: visible;
  max-height: none;
}

.topnav a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
  display: block;

}

.topnav a:hover,
.topnav a.active {
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

/* ikonen, tre strecken */
.hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
}

/* ikonen, tre strecken */
.hamburger div{
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: transform 0.3s;
}


@media screen and (max-width: 700px){
  .topnav .icon{
    display: block;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }

  /* ifall ikonen syns elr ej */
  .hamburger{
    display: flex;
  }

   .topnav a {
     display: none;
   }

  .topnav.responsive {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    background-color: steelblue;
    padding: 10px;
    width: 104%;
    box-sizing: border-box;
    position: relative;
    top: 155px;
  }

  .topnav.responsive a {
    display: block;
    text-align: left;
    padding: 10px 15px;
    color: white;
  }

  .topnav.responsive .hamburger div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .topnav.responsive .hamburger div:nth-child(2) {
    opacity: 0;
  }

  .topnav.responsive .hamburger div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  main{
    margin-top: 50px; /* Förhindra att innehållet klistras mot menyn */
  }
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #08335b;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
  font-size: 15px;
}
